/*body {
	
	/*background-image: url("./supersrc/field3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: contain;
	
	background-color:black;
}

h1, h2, p, body {
	
	font-family:"Lucida Console", Monaco, monospace;
	
}
	
h1 {
	color:green;
	font-style: italic;
}
	
h2 {
	color:red;
	font-style: italic;
}
	
p {
	color:blue; 
	text-align:center;
}*/
	
